pipeline/p_full_load.json
{
	"name": "p_full_load",
	"properties": {
		"activities": [
			{
				"name": "Lookuptofetchmetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql_dataset_withparam",
						"type": "DatasetReference",
						"parameters": {
							"table_name": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							},
							"schema_name": {
								"value": "@pipeline().parameters.schema_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "processcntrltablevalue",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookuptofetchmetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookuptofetchmetadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "onprem_sql",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@item().SOURCE_SCHEMA",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().SOURCE_TABLE",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dataset_azblob_2025",
									"type": "DatasetReference",
									"parameters": {
										"container": "project-folder",
										"folder": "@item().SOURCE_SCHEMA",
										"file": {
											"value": "@concat(item().SOURCE_TABLE,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string"
			},
			"schema_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "new2025"
		},
		"annotations": []
	}
}