pipeline/p_full_load.json
{
	"name": "p_full_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_contrl_table_forfullload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select *from [metadata].[control_table_Batch_001] where load_type='@{pipeline().parameters.load_type}' and is_active='Y' and SOURCE_SYSTEM='@{pipeline().parameters.src_system}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql_dataset_withparam",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "control_table_Batch_001",
							"schema_name": "metadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_contrl_table_forfullload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_contrl_table_forfullload').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "onprem_sqlserverToADLSstorageCopy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sqlserver_db_onprem",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@item().SOURCE_SCHEMA",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().SOURCE_TABLE",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "azureblob_storage_with_param",
									"type": "DatasetReference",
									"parameters": {
										"contanier_name": "project-folder",
										"filename": {
											"value": "@concat(item().SOURCE_TABLE,'.csv')",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@item().SOURCE_SCHEMA",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"src_system": {
				"type": "string",
				"defaultValue": "SQL_SERVER"
			},
			"load_type": {
				"type": "string",
				"defaultValue": "full"
			}
		},
		"folder": {
			"name": "new2025"
		},
		"annotations": []
	}
}