pipeline/p_Identify_latestfiles_basedonlastmodifydate andprocess.json
{
	"name": "p_Identify_latestfiles_basedonlastmodifydate andprocess",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "azureblob_storage_with_param",
						"type": "DatasetReference",
						"parameters": {
							"contanier_name": "project-folder",
							"filename": {
								"value": " ",
								"type": "Expression"
							},
							"folder_name": "new"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata2",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "azureblob_storage_with_param",
									"type": "DatasetReference",
									"parameters": {
										"contanier_name": "project-folder",
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										},
										"folder_name": "new"
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get Metadata2').output.lastModified,variables('v_latest_date'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1_for_date",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_latest_date",
											"value": {
												"value": "@activity('Get Metadata2').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable2_file",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable1_for_date",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_latest_file",
											"value": {
												"value": "@{item().name}",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "azureblob_storage_with_param",
						"type": "DatasetReference",
						"parameters": {
							"contanier_name": "project-folder",
							"filename": {
								"value": "@variables('v_latest_file')",
								"type": "Expression"
							},
							"folder_name": "new"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "azureblob_storage_with_param",
						"type": "DatasetReference",
						"parameters": {
							"contanier_name": "project-folder",
							"filename": {
								"value": "@concat(variables('v_latest_file'),'.csv')",
								"type": "Expression"
							},
							"folder_name": "dbo"
						}
					}
				]
			}
		],
		"variables": {
			"v_latest_date": {
				"type": "String",
				"defaultValue": "1900-01-01"
			},
			"v_latest_file": {
				"type": "String"
			}
		},
		"folder": {
			"name": "new2025"
		},
		"annotations": []
	}
}