pipeline/project_flow_with_cntrl_table_FULL_with_filter_activity.json
{
	"name": "project_flow_with_cntrl_table_FULL_with_filter_activity",
	"properties": {
		"activities": [
			{
				"name": "Lookup_on_cntrl_table_for_incr_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from METADATA.CONTROL_TABLE where source_system='@{pipeline().parameters.source_system}' AND LOAD_TYPE='@{pipeline().parameters.load_type}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql_dataset_withparam",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "CONTROL_TABLE",
							"schema_name": "METADATA"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "onprem_sql_to azureblob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().SOURCE_TABLE_SCHEMA}.@{item().SOURCE_TABLE_NAME} \n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sqlserver_db_onprem",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@item().SOURCE_TABLE_SCHEMA",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().SOURCE_TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "azureblob_storage_with_param",
									"type": "DatasetReference",
									"parameters": {
										"contanier_name": "project-folder",
										"filename": {
											"value": "@concat(item().TARGET_TABLE,'.csv')",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@item().TARGET_TABLE_SCHEMA",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "azureblob_to_azuresql",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "onprem_sql_to azureblob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "azureblob_storage_with_param",
									"type": "DatasetReference",
									"parameters": {
										"contanier_name": "project-folder",
										"filename": "@concat(item().TARGET_TABLE,'.csv')",
										"folder_name": "@item().TARGET_TABLE_SCHEMA"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSql_dataset_withparam",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().TARGET_TABLE",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@item().TARGET_TABLE_SCHEMA",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "arcive-from_azureblob_to_arcivefolder",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "azureblob_to_azuresql",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "azureblob_storage_with_param",
									"type": "DatasetReference",
									"parameters": {
										"contanier_name": "project-folder",
										"filename": "@concat(item().TARGET_TABLE,'.csv')",
										"folder_name": "@item().TARGET_TABLE_SCHEMA"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dataset_for_arcive",
									"type": "DatasetReference",
									"parameters": {
										"container": "arcive",
										"file": {
											"value": " ",
											"type": "Expression"
										},
										"folder": {
											"value": " ",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "delete_from_azureblob_after arcive",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "arcive-from_azureblob_to_arcivefolder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "azureblob_storage_with_param",
									"type": "DatasetReference",
									"parameters": {
										"contanier_name": "project-folder",
										"filename": "@concat(item().TARGET_TABLE,'.csv')",
										"folder_name": "@item().TARGET_TABLE_SCHEMA"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Lookup_to get_max_update_date_from_trans_table",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "delete_from_azureblob_after arcive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select max(@{item().WATERMARK_COLUMN}) as max_update_date from   @{item().SOURCE_TABLE_SCHEMA}.@{item().SOURCE_TABLE_NAME}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "sqlserver_db_onprem",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": " ",
											"type": "Expression"
										},
										"table_name": {
											"value": " ",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Set_max_update_date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup_to get_max_update_date_from_trans_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "max_updat_date",
								"value": {
									"value": "@STRING(activity('Lookup_to get_max_update_date_from_trans_table').output.firstRow.max_updat_date)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "update_proceed_date_as max_date_on_cntrl_table",
							"type": "Script",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update METADATA.CONTROL_TABLE set PROCESSED_DATE='@{variables('v_max_update_date')}' where control_id=@{item().CONTROL_ID}\n\n\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "update_proceed_date_as max_date_on_cntrl_table_using_sp",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set_max_update_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_PROCESSED_DATE]",
								"storedProcedureParameters": {
									"in_CONTROL_ID": {
										"value": {
											"value": "@item().CONTROL_ID",
											"type": "Expression"
										}
									},
									"in_PROCESSED_DATE": {
										"value": {
											"value": "@variables('max_updat_date')",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_on_cntrl_table_for_incr_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_on_cntrl_table_for_incr_load').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().SOURCE_TABLE_NAME,'CLAIM')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SOURCE_SYSTEM": {
				"type": "string",
				"defaultValue": "SQL_SERVER"
			},
			"LOAD_TYPE": {
				"type": "string"
			}
		},
		"variables": {
			"max_updat_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "class_HW_folder"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-10T22:10:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}